## 3.1 자료 구조와 순차 자료형
파이썬의 데이터 구조는 단순하지만 강력하다. 그것들의 사용을 숙달하는 것은 전문적인 파이썬 프로그래머가 되는 것의 필수적인 부분이다.

### 3.1.1 튜플
**튜플**은 길이가 정해져있고, 바꿀 수 없는 시퀸스이다. 가장 쉽게 만드는 것은 쉼표로 분리하는 것이다.

In [1]:
A=1,2,3
A

(1, 2, 3)

더 복잡하게 만드려면 괄호를 사용한다.

In [2]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4,0,2])

(4, 0, 2)

In [4]:
tup=tuple("string")
tup

('s', 't', 'r', 'i', 'n', 'g')

인덱싱은 다음과 같이 [ ] 를 이용한다.

In [5]:
tup[0]

's'

튜플은 한번 만들어지고 나서는 각 객체에 저장되어 있는 것을 변화시키는 것은 불가능하다.(다음과 같이 에러가 뜬다)

In [6]:
#tup=tuple(['foo',[1,2],True])
#tup[2]=False

만약 튜플안에 객체가 리스트와 같이 변환이 가능한 것이라면 그것안에서 변환이 가능하다

In [7]:
#tup[1].append(3)
#tup

'+' 연산자를 통해 더 긴 튜플로 연결시킬 수 있다.

In [8]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [9]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

"언패킹 튜플"

In [10]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [11]:
tup = 4, 5, (6, 7) #다음과 같이 괄호 처리 된것들도 언패킹 가능
a, b, (c, d) = tup
d

7

In [12]:
tmp = a
a = b
b = tmp
a, b = 1, 2
print(a)
print(b)

1
2

In [13]:
b, a = a, b
print(a)
print(b)

2
1

In [14]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

"special syntax *rest"

In [15]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b, rest

(1, 2, [3, 4, 5])

In [16]:
a, b, *_ = values #using _ for unwanted variables
a, b,_

(1, 2, [3, 4, 5])

"Tuple methods"

In [17]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### 3.1.2 리스트
[ ] or list() 이용

In [18]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
['foo', 'bar', 'baz']
b_list[1] = 'peekaboo'
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [19]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

"Adding and removing elements"

In [20]:
b_list.append('dwarf')
print(b_list)
b_list.insert(1, 'red') #자리 지정해서 넣기
print(b_list)

['foo', 'peekaboo', 'baz', 'dwarf']
['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [21]:
b_list.pop(2)

'peekaboo'

In [22]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [23]:
b_list.append('foo')
print(b_list)
b_list.remove('foo')
print(b_list)

['foo', 'red', 'baz', 'dwarf', 'foo']
['red', 'baz', 'dwarf', 'foo']

In [24]:
'dwarf' in b_list

True

In [25]:
'dwarf' not in b_list

False

"Concatenating and combining lists"

In [26]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [27]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

"Sorting"

In [28]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [29]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

"Binary search and maintaining a sorted list"

In [30]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [31]:
bisect.bisect(c, 5)

6

In [32]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

"Slicing"

In [33]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [34]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [35]:
seq[:5]

[7, 2, 3, 6, 3]

In [36]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [37]:
seq[-4:]

[5, 6, 0, 1]

In [38]:
seq[-6:-2]

[6, 3, 5, 6]

In [39]:
seq[::2]

[7, 3, 3, 6, 1]

In [40]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### 3.1.5 내장 순차 자료형 함수 
**Built-in Sequence Functions**

"enumerate"

In [41]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

"sorted"

In [42]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [43]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

"zip"

In [44]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [45]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [46]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
     print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [47]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]

In [48]:
first_names, last_names = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [49]:
last_names

('Ryan', 'Clemens', 'Curt')

In [50]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 3.1.3 딕셔너리
- hash map/ associative array라고도 불린다
- { }를 사용
- key와 value로 쌍을 이룬다

In [51]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [52]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [53]:
d1['b']

[1, 2, 3, 4]

In [54]:
'b' in d1

True

In [55]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [56]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [57]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [58]:
ret = d1.pop('dummy')
ret

'another value'

In [59]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [60]:
list(d1.keys())

['a', 'b', 7]

In [61]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [62]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

"Creating dicts from sequences"

In [63]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

"Default values"

In [64]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

"Valid dict key types"
- 기본적으로 mutable 하면 안된다.

In [65]:
hash('string')
hash((1, 2, (2, 3)))
#hash((1, 2, [2, 3])) mutable해서 안됨

-9209053662355515447

In [66]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### 3.1.4 집합
- unordered collection of unique elements(dicts with keys only, no value)

In [67]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [68]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [69]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [70]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [71]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
 a.intersection(b)

{3, 4, 5}

In [73]:
a & b

{3, 4, 5}

In [74]:
c = a.copy()
c |= b #Set the contents of a to be the union of the elements in a and b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
d = a.copy()
d &= b #Set the contents of a to be the intersection of the elements in a and b
d

{3, 4, 5}

In [76]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [77]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [78]:
a_set.issuperset({1, 2, 3})

True

In [79]:
{1, 2, 3} == {3, 2, 1}

True

### 3.1.6 리스트, 집합, 딕셔너리 표기법

In [80]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [81]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [82]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [83]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

"Nested list comprehensions(중첩된 리스트 표기법)"

In [84]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [85]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 함수

In [87]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [88]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [89]:
my_function(3.14, 7, 3.5)

35.49

In [90]:
my_function(10, 20)

45.0

In [91]:
my_function(x=5, y=6, z=7)

77

In [92]:
my_function(y=6, x=5, z=7)

77

### 3.2.1 네임스페이스, 스코프(=global), 지역함수

In [93]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [94]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### 3.2.2 여러 값 반환하기

In [95]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()

In [96]:
return_value = f()

In [97]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### 3.2.3 함수도 객체다

In [98]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south carolina##', 'West virginia?']
states

[' Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina##',
 'West virginia?']

In [99]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [100]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [101]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [102]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

### 3.2.4 익명(람다) 함수

In [103]:
def short_function(x):
    return x * 2
equiv_anon = lambda x: x * 2

In [104]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [105]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

"Currying: Partial Argument Application"

In [106]:
def add_numbers(x, y):
    return x + y
add_five = lambda y: add_numbers(5, y)
from functools import partial
add_five = partial(add_numbers, 5)

### 3.2.5 제너레이터

In [107]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [108]:
dict_iterator = iter(some_dict)
dict_iterator

In [109]:
list(dict_iterator)

['a', 'b', 'c']

In [110]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2
gen = squares()
gen

In [111]:
for x in gen:
        print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

"Generator expresssions"

In [112]:
gen = (x ** 2 for x in range(100))
gen

In [113]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
sum(x ** 2 for x in range(100))

328350

In [114]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

"itertools module"

In [115]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### 3.2.6 오류와 예외처리
- ValueError(적절하지 않은 입력에 대해)

In [116]:
float('1.2345')

1.2345

In [117]:
# float('something') - ValueError 뜸

In [118]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [119]:
attempt_float('1.2345')

1.2345

In [120]:
attempt_float('something')

'something'

In [121]:
#float((1, 2)) - ValueError 뜸

In [122]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [123]:
# attempt_float((1, 2))
# TypeError: float() argument must be a string or a real number, not 'tuple'

In [124]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [125]:
#f = open(path, 'w')
#try:
#    write_to_file(f)
#finally:
#    f.close()

## 3.3 파일과 운영체제

In [126]:
import urllib.request
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/codingalzi/pydata/master/notebooks/examples/"
filename = "segismundo.txt"
url = DOWNLOAD_ROOT + filename
urllib.request.urlretrieve(url, "C:/Users/qorud/OneDrive/바탕 화면/SODA/파이썬 라이브러리/" + filename)

('C:/Users/qorud/OneDrive/바탕 화면/SODA/파이썬 라이브러리/segismundo.txt',
 <http.client.HTTPMessage at 0x1c1caee5150>)

In [127]:
path = 'C:/Users/qorud/OneDrive/바탕 화면/SODA/파이썬 라이브러리/segismundo.txt'
f = open(path,encoding="utf-8")

In [128]:
for line in f:
    print(line)
lines = [x.rstrip() for x in open(path)]
f.close()

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [129]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [130]:
f = open(path,encoding="utf-8")
f.read(10)

'Sueña el r'

In [131]:
f2 = open(path, 'rb')
f2.read(10)

b'Sue\xc3\xb1a el '

In [132]:
f.tell()

11

In [133]:
f2.tell()

10

In [134]:
import sys
sys.getdefaultencoding()

'utf-8'

In [135]:
f.seek(3)

3

In [136]:
f.read(1)

'ñ'

In [137]:
f.close()
f2.close()

In [138]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt',encoding="utf-8") as f:
    lines = f.readlines()
lines
#빈줄이 없는 문서 작성

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

### 3.3.1 바이트와 유니코드

In [139]:
with open(path,encoding="utf-8") as f:
    chars = f.read(10)
chars

'Sueña el r'

In [140]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [141]:
data.decode('utf8')

'Sueña el '

In [142]:
# data[:4].decode('utf8')

In [144]:
sink_path = 'sink.txt'
with open(path,encoding="utf-8") as source:
    with open(sink_path, 'x', encoding='iso-8859-1') as sink:
            sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Sueña el r

In [145]:
f = open(path,encoding="utf-8")
f.read(5)

'Sueña'

In [146]:
f.seek(4)

4

In [147]:
#f.read(1)
f.close()